body{
display: flex;
justify-content: center;
align-items: center;
height: 97vh;
background-color: #FAFAFA;
}
form{
    border: 1px solid #e7e7e7;
background-color:#FFFFFF;
width: 360px;
height: 320px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 2px;
}
form img{
   margin: 20px 0px 30px 0px;
}
.body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 850px;
}
input{
 width: 260px;
 height: 35px;
    margin: 3px;
    font-size: 11.5px;
    border-radius: 3px;
    border: 1px solid  #dedede;
    padding: 5px;
background-color:  #FAFAFA;
}

button{
    background-color: #0095F6;
    border: none;
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    width: 270px;
    height: 33px;
    padding: 6px;
    margin: 7px 0px;
    color: #dedede;

}
button a{
    color: #dedede;
    width:260px ;
}
a{
    color: #00376B;
    text-decoration: none;
    font-size: 13px;
    width: 260px;
    text-align: center;
    margin: 20px 0px 30px 0px;
}
.img{
    margin: 20px;
    
}
.sinup{
    border: 1px solid #e7e7e7;
    background-color:#FFFFFF;
    width: 360px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding-top: 25px;
    
}
.gta{
    height: 45px;
    text-align: center;
    padding-top: 25px;
}
.icons{
    display: flex;
    width: 360px;
    align-items: center;
    justify-content: center;
}
.icons img{
    margin: 3px;
}
@media screen and (max-width: 800px){
    .img{
        display:none;
    }
}