

https://codeturbulent.github.io/basic-projects/DarkSide
https://codeturbulent.github.io/basic-projects/UDMVI
https://codeturbulent.github.io/basic-projects/UIET-exhibition
https://codeturbulent.github.io/basic-projects/calculator
https://codeturbulent.github.io/basic-projects/contacts
https://codeturbulent.github.io/basic-projects/instagram
https://codeturbulent.github.io/basic-projects/lottery95
https://codeturbulent.github.io/basic-projects/new year
https://codeturbulent.github.io/basic-projects/republic day
https://codeturbulent.github.io/basic-projects/todolist
https://codeturbulent.github.io/basic-projects/8number